@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
body{
  scroll-behavior: smooth;
}
/* shadow for navbar */
.scroll-header {
    box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
}

.profile-pic {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .image {
    width: 9em;
    height: 9em;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgba(177, 177, 177, 0.334);
    border-radius: .4em;
    box-shadow: 0 0 .1em rgba(0, 0, 0, 0.35);
    position: relative;
    background-size:cover;
  }

  .profile-avatar {
    display: block;
    text-align: center;
    width: 100%;
    object-fit: cover;
  }
  /* .avatar-change{
    position: absolute;
    background: none;
    outline: none;    
    border: none;
    background-color: rgba(16, 16, 16, 0.426);
    padding: 10px 0px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: none;
  }
  
   */

 
  .bio p{
    text-align: justify;
    line-height: normal;
  }
  
  .bio .bio-header{
    display: flex;
justify-content:space-between;
align-items: center;
  }
  /* ================ Alert============ */

.alert-div{
    margin-top: 5rem;
    position: sticky;
    display: none;
}

.services__modal {
    position: fixed;
    background-color: green;
    padding: 2rem 1rem;
    display: grid;
    place-items: center;
    transition: .4s;

}

.home{
    background-image: url(https://images.pexels.com/photos/1761279/pexels-photo-1761279.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}

.my-alert{
    position: relative;
    margin: auto;
    animation: alertmove 0.7s ease-in-out;
    /* opacity: 0; */
}
.my-alert div{
}

@keyframes alertmove {
        from{top:-50px}
        to{top:0px}
}

/* =============== PROFILE SECTION =============== */

/* @import url(https://fonts.googleapis.com/css?family=Quicksand:300,400|Lato:400,300|Coda|Open+Sans);


.content-profile-page {
  margin: 1em auto;
  width: 44.23em;
}

.card {
  background: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: .1em solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1em; 
}

.profile-user-page .img-user-profile {
	margin: 0 auto;
  text-align: center;
}

.profile-user-page .img-user-profile .profile-bgHome {
  border-bottom: .2em solid #f5f5f5;
  height: 16em;
  width: 44.23em;
}
.profile-bgHome-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  }
.profile-user-page .img-user-profile .avatar {
	margin: 0 auto;
  background: #fff;
  width: 7em;
  height: 7em;
  padding: 0.25em;
  border-radius: .4em;
  margin-top: -10em;
  box-shadow: 0 0 .1em rgba(0, 0, 0, 0.35);
}
.profile-user-page button {
	position: absolute;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  width: 7em; 
  background: #3498db;
  border: 1px solid #2487c9;
  color: #fff;
  outline: none;
  border-radius: 1rem;
  padding: .80em;
  top: 180px;
  right: 10px;
}

.profile-user-page button:hover {
  background: #51a7e0;
  transition: background .2s ease-in-out;
  border: 1px solid #2487c9;
}
.profile-user-page .user-profile-data, .profile-user-page  {
  text-align: center;
  padding: 0 1.5em; 
}
.description-profile p{
  text-align: justify;
  line-height: normal;
}

.profile-user-page .user-profile-data h1 {
  font-family: "Lato", sans-serif;
  margin-top: 0.35em;
  color: #292f33;
  margin-bottom: 0; 
}
.profile-user-page .user-profile-data p {
	font-family: "Lato", sans-serif;
  color: #8899a6; 
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 0.5em; 
}
.profile-user-page .description-profile {
  color: #75787b;
  font-size: 0.98em; 
}
.profile-user-page .data-user {
	font-family: "Quicksand", sans-serif;
  margin-bottom: 0;
  cursor: pointer;
  padding: 0;
  list-style: none;
  display: table;
  width: 100.15%; 
}
.profile-user-page .data-user li {
  margin: 0;
  padding: 0;
  width: 33.33334%;
  display: table-cell;
  text-align: center;
  border-left: 0.1em solid transparent; 
}
.profile-user-page .data-user li:first-child {
  border-left: 0; 
}
.profile-user-page .data-user li:first-child a {
  border-bottom-left-radius: 0.3rem; 
  }
.profile-user-page .data-user li:last-child a {
  border-bottom-right-radius: 0.3rem; 
}
.profile-user-page .data-user li a, .profile-user-page .data-user li strong {
  display: block; 
}
.profile-user-page .data-user li a {
  background-color: #f7f7f7;
  border-top: 1px solid rgba(242,242,242,0.5);
  border-bottom: .2em solid #f7f7f7;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 1px 1px rgba(255,255,255,0.4);
  padding: .93em 0;
  color: #46494c; 
}
.profile-user-page .data-user li a strong, .profile-user-page .data-user li a span {
  font-weight: 600;
  line-height: 1; 
}
.profile-user-page .data-user li a strong {
  font-size: 2em; 
}
.profile-user-page .data-user li a span {
  color: #717a7e; 
}
.profile-user-page .data-user li a:hover {
  background: rgba(0, 0, 0, 0.05);
  border-bottom: .2em solid #3498db;
  color: #3498db; 
}
.profile-user-page .data-user li a:hover span {
  color: #3498db; 
} */





