{% extends "./base.html" %}
{% block start %}
<div class="container-fluid my-3 ">
    <div class="row mx-1">
        <div class="col-sm-12 col-md-8 col-xl-6 bg-light m-auto p-4 rounded">
            <form action="{% url 'forget_password' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Enter Your Email </label>
                    <input type="email" class="form-control" id="email" placeholder="Enter Your Verified Email" name="email" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock  %}