{% extends './base.html' %}

{% block start %}

<section class="my-5">
    <div class="profile-div">
        <!-- <h4 class="text-center">Edit Profile</h4> -->
    </div>
    <div class="profile w-50 m-auto bg-light p-4 rounded w-sm-50">
      <small><button class="btn btn-sm btn-outline-dark float-end" data-bs-toggle="modal" data-bs-target="#profileModal">Edit Profile</button></small>
        <div class="profile-pic text-center mt-2">
            <div class="image text-center ">
                <img src="../../static/img/user.png" alt="profile image" class="profile-avatar">
                <!-- <button  class="avatar-change " data-bs-toggle="modal" data-bs-target="#profileAvatarModal" >Edit</button> -->
            </div>
        </div>
        <div class="info text-center mt-4 mb-3 ">
            <h4>{{profile.user.first_name  }} {{profile.user.last_name}}</h4>
            <p>@{{profile.user.username}}</p>
        </div>
        <div class="bio ">
            <div class="bio-header">
                <h5>Bio </h5>
               <!-- <small><button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#profileBioModal" onclick="editProfile()">Add Bio</button></small> -->
            </div>
            <p class="text-muted mx-2">{{profile.bio}}</p>
        </div>
        <div class="blogs ">
            <h5 class="text-center btn bg-warning w-100 mb-5">POSTS </h5>
            <div class="posts container-fluid">
                <div class="row align-items-center justify-content-center">
                    {% for blog in blogs %}
                <div class="col-12 col-sm-6 mb-2">
                    <div class="card"><a href="{% url 'blog_detail' blog.slug %}">
                        <img class="card-img-top" src="{{blog.image.url}}" alt="blog images" style="object-fit:cover ; aspect-ratio: 16/ 9;" /></a>
                      <div class="px-2">
                        <span class="d-block"><a class="text-dark text-decoration-none" href="{% url 'blog_detail' blog.slug %}">{{blog.title}} </a></span>
                        <small class="text-gray-500">12-05-12</small>
                      </div>
                    </div>
                </div>
                {% endfor %}
                  </div>
            </div>
        </div>
    </div>
</section>
 
<!-- Pfile avatar Modal -->
  <div class="modal fade" id="profileAvatarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change Profile Image</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="file" name="profile-image" class="form-control">
            <div class="mt-2 float-end">
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
        
      </div>
    </div>
  </div>

<!-- Pfile Bio Modal -->
  <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Bio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating ">
                <textarea class="form-control" placeholder="Update your bio" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Add bio</label>
              </div>
              <div class="mt-2 float-end">
                  <button type="button" class="btn btn-primary">Save</button>
              </div>
        </div>
        
      </div>
    </div>
  </div>

{% endblock %}