{% extends './base.html' %}

{% block start %}
<div class="container-fluid px-3">
      <div class="row min-vh-100">
        <div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
          <div class="w-100 py-5 px-md-5 px-xl-6 position-relative">
           
            <div>
              <div class="form-group">
                <label class="form-label" for="loginUsername"> Username</label>
                <input class="form-control" name="loginUsername" id="loginUsername" type="text" placeholder="Choose unique username" autocomplete="off" required data-msg="Choose unique username">
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="fname">First Name</label>
                <input class="form-control" name="fname" id="fname" type="text" placeholder="Enter Your First Name" autocomplete="off" required data-msg="Enter Your First Name">
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="lname">Last Name</label>
                <input class="form-control" name="lname" id="lname" type="text" placeholder="Enter Your Last Name" autocomplete="off" required data-msg="Enter Your Last Name">
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="email"> Email Address</label>
                <input class="form-control" name="email" id="email" type="email" placeholder="Enter Your Email" autocomplete="off" required data-msg="Please enter your email">
              </div>
              <div class="form-group mb-4">
                <div class="row">
                  <div class="col">
                    <label class="form-label" for="loginPassword"> Password</label>
                  </div>
                </div>
                <input class="form-control" name="loginPassword" id="loginPassword" placeholder="Password" type="password" required data-msg="Please enter your password">
              </div>
             
              <!-- Submit-->
              <button class="btn btn-lg btn-block btn-primary" onclick="register()">Sign in</button>
             
              <p class="text-center"><small class="text-muted text-center">Already have account ?<a href="{% url 'login' %}">Login</a></small></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
          <!-- Image-->
          <div class="bg-cover h-100 mr-n3" style="background-image: url(https://images.pexels.com/photos/1995730/pexels-photo-1995730.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);"></div>
        </div>
      </div>
    </div>
    {% endblock  %}
