{% extends "./base.html" %}
{% block start %}
<div class="container-fluid my-3">
    <div class="row mx-1">
        <div class="col-sm-12 col-md-8 col-xl-6 bg-light m-auto p-4 rounded">
            <form action="{% url 'save_forget_password' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{user.username}}" name='username'>
                <div class="mb-3">
                    <label for="pass1" class="form-label">Enter New Password</label><small class="float-end me-1 d-none text-danger" id="length-warning"></small>
                    <input type="Password" class="form-control" id="pass1" placeholder="New Password" name="new_password" required onkeyup="forgetPasswordWarning()">
                  </div>
                <div class="mb-3">
                    <label for="pass2" class="form-label">Enter Confirom Password</label><small class=" d-none float-end me-1 text-danger" id="warning"></small>
                    <input type="Password" class="form-control" id="pass2" placeholder="Confirom Password" name="confirom_password" required onkeyup="forgetPassword()">
                  </div>
                  <button type="submit" class="btn btn-primary" id="btn" disabled>Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock  %}