{% extends './base.html' %}

{% block start %}
<main class="p-3 p-sm-5 mb-5">
    <div class="login  rounded text-light">
        <h2 class="heading mb-3 d-flex align-itmes-center justify-content-between"><a href="{% url 'home' %}"
                class='btn btn-dark  d-flex align-items-center'><i class='bx bx-arrow-back me-2'></i>Back</a> Singin
        </h2>
        <form method="post" action="{% url 'login' %}" onsubmit="login()">
            {% csrf_token %}
            <div class="mb-3">
                <label for="loginUsername" class="form-label">UserName</label>
                <input type="text" class="form-control" id="loginUsername" name="username">

            </div>

            <div class="mb-3 pass-div">
                <label for="loginPassword" class="form-label">Password</label><span id="show-pass"><i class='bx bx-show' id="eye"
                        onclick="showpass()"></i></span>
                <input type="password" class="form-control" id="loginPassword" name="password">
            </div>

            <button type="submit" class="btn btn-warning ">Singin</button>
            <span class="ms-4">
                <a href="{% url 'forget_password' %}" class=" ms-1 text-decoration-none text-light">Forget Password ?</a>
            </span>
        </form>
        <div class="text-start mt-2">
          <span> Don't have account ? <a href="{% url 'register' %}" class="btn btn-secondary btn-sm ms-1">Signup</a>
          </span>  
        </div>
    </div>

</main>
{% endblock %}